body{
  cursor: url('/images/cursor.png'),auto;
}
.login-dark {
    height:1000px;
    background:#475d62 url(/images/star-sky.jpg);
    background-size:cover;
    position:relative;
  }
  
  .login-dark form {
    max-width:365px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:15px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:42%;
    left:50%;
    color:#fff;
    box-shadow:0px 11px 23px rgba(0,0,0,0.8);
  }
  
  .login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
  .login-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-dark form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#0056b3;
    outline:none;
  }
  
  .login-dark form .transfer {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-dark form .transfer:hover, .login-dark form .transfer:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }

  .iframe-box {
    margin-top: 20px;
    margin-right: 500px;
 }
 .iframe {
    width: 280PX;
    height: 175PX;
    padding-left: 0px;
 }
 .scare {
  z-index: 1;
}

video#video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

video#video::-webkit-media-controls-enclosure {
  display: none !important;
}  